@import "../../styles/settings.scss";

.row-settings {
    width: 100% !important;
    // padding: 0 !important;
    margin: 0 !important;
}

.nav-settings {
    // background: linear-gradient(rgba(176, 91, 35, 0.507), transparent);
    background-color: #ffc107;
    width: 100vw !important;
    position: fixed !important;
    z-index: 1000 !important;
    padding: 0 !important;
    margin: 0 !important;
    height: 12vh;
}

// min width 768
@media (min-width: 768px) {
    .nav-settings {
        height: 8vh;
    }
}

// // min width 992
// @media (min-width: 992px) {
//     .nav-settings {
//         height: 8vh;
//     }
// }